<h1> Here are all of your animals so far <%=current_user.name%>.</h1>
<h2> If this area is blank then it probably means you don't have any animals created yet. You can change that by clicking a link below.</h2><br>

<% current_user.animals.each do |animal| %>
    <p>Name for this animal:</p>
    <%= animal.name%><br>
    <p>Additional comments for this animal:</p>
    <%= animal.comment%><br>
    <p>Reason why you said you liked it:</p>
<% animal.reasons.each do |reason| %>

<%=reason.words  %>
<% end %><br><br>
<%= link_to "Edit this animal", edit_animal_path(animal) %><br><br>
  
<%= button_to "Delete Animal", animal_path(animal), method: :delete %><br>

<%= link_to "Click here to make a new reason why you like an animal and associate it to an animal.", new_animal_reason_path(animal) %><br> 
<h4>Note: Want to make a second reason? You can also click the above link to associate a new reason for the same animal.</h4>
    <% end %>
<%= link_to "Click here to see all animals ever created", animals_path %><br><br>

<%= link_to "Make a new animal", new_animal_path %><br><br>

<%= link_to "Log Out", '/' %>