<h1> Here are all of your animals so far </h1>
<h2> If this area is blank then it probably means you don't have any animals created yet</h2><br>

<% current_user.animals.each do |animal| %>
    <%= animal.name%><br>
<% animal.reasons.each do |reason| %><br>

<%=reason.words  %>
<% end %><br><br>
<%= link_to "Edit this animal", edit_animal_path(animal) %><br><br>
    
<%= button_to "Delete Animal", animal_path(animal), method: :delete %>
    
    <% end %>
<%= link_to "Click here to see all animals ever created", animals_path %><br><br>
<%= link_to "Click here to make a new reason why you like an animal and associate it to an animal", new_reason_path %><br><br>
<%= link_to "Make a new animal", new_animal_path %><br><br>

<%= link_to "Log Out", '/' %>