<h1>"Create a new Animal and Reason:"</h1>
<%= form_for(@animal) do |f|%>
    <%= f.label :name%>
    <%= f.text_field :name %>
    <h1>"Now give us a reason why you like that animal"</h1><br>
    <%= f.fields_for(:reasons) do |r|%>
        <%= r.label :comment%>
        <%= r.text_field :comment%>
        <br><br>
    <%end%>
  <%= f.submit %>
<%end%>
    