<h1> Here you can find all the animals' names and reason our users liked it.</h1><br>
<%= form_tag('/animals', method: :get) do %>
    <div class="form-group">
      <%= label_tag(:name, "Search by animal name here") %>
      <%= text_field_tag(:name, nil, class: "form-control") %><br><br>
        <div class="actions">
        <%= submit_tag("Search") %>
        </div>
<%end%>
  

<%@animals.each do |animal| %> 
        <h3>People like the <%= animal.name %> because: </h3>
        <% animal.reasons.each do |i| %>
            <h3> - <%= i.words %></h3>
        <%end%><br>
    <%end%>

   
    <%= link_to "Back to your profile", user_path(current_user.id) %>
