<h1> Here is the animal you just created </h1>
<h3> Name: <%= @animal.name %></h3><br>
<h3> Your comment: <%=@animal.comment %></h3><br>
<h3> The category (if you assigned one) for this animal is: <%= @animal.category.value%></h3><br>
<%= link_to "Associate the animal to a reason you like it by clicking here.", new_animal_reason_path(@animal) %><br><br>

<%= link_to "Back to your profile", user_path(current_user.id) %>