<h1>To start off, make a new category for an animal</h1>
<%= form_for(@category) do |f|%>
<%= f.label :"Write it here:" %>
<%= f.text_field :value%><br><br>
<%= f.submit %>
<%end%><br>
<%= link_to "Back to your profile", user_path(current_user.id) %>